<html>
<body>
    <form method="post" action="login">
        <label>
          Username: <input type="text" name="username"
                           value="Claudia">
        </label>
        <label>
          Parola: <input type="password" name="parola"
                         value="">
        </label>
        <input type="submit" value="Submit">
      </form>
</body>
</html>